li {
    list-style: none;
  }

  .list {
    text-align: left;
  }

  .app {
    text-align: center;
  }

  .picture {
    background-color: rgb(42, 32, 11);
  }

  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    background-color: rgb(42, 32, 11);
    color: white;
    margin-top: 5em;
    }
